<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--<link rel="stylesheet" href="../static/style.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <!--<link rel="stylesheet" href="../static/menu.css">-->
  <title>SocialNetworkDownload</title>
</head>
<body>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header class="showcase">
    <div class="container showcase-inner">
      <h1>Welcome</h1>
      <p>Bạn có thể tải mp3 từ video trên youtube, ảnh từ instagram và video public từ facebook. Chỉ cần sao chép liên kết của ảnh, video mà bạn muốn.</p>
      <a href="/socialnetwork" class="btn">Get Started</a>
    </div>
  </header>
</body>
</html>
