<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SocialNetworkDownload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>

<body>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <section id="main-body">
    <div class="container">
      <div class="inner">
        <div class="row">
        <div class="col-lg-4 col-md-4 col-ms-12 col-xs-12">
            <div class="audio-form">
            <form action="/dwlmp3" method="POST">
                        <h1>Youtube audio</h1>
                        <input type=" text" name="yt_url" placeholder="URL" class="txtb" required>
                    <input type="submit" value="Download audio"  class="social-btn">
                  </form>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-ms-12 col-xs-12">
              <div class="insta-form">
                <form action="/dwlimg" method="POST">
                <h1>Instagram image</h1>
                <input type=" text" name="insta_url" placeholder="URL" class=" txtb" required>
                <input type="submit" value="Download image" class="social-btn">
              </form>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-ms-12 col-xs-12">
              <div class="fb-form">
                <form action="/dwlmp4" method="POST">
                        <h1>Facebook video</h1>
                        <input type=" text" name="fb_url" placeholder="URL"" class=" txtb" required>
                <input type="submit" value="Download video" class="social-btn">
              </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
